/*:root{
    background: yellow;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/

body {
    font-family:monospace;
}

.journalTitleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: aliceblue;
    padding: 0.5rem 0;
    margin-bottom: 1rem;

}

.widthContainer {
    display:flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.dailyJournal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid #ccd6dd;
    text-align: center;
}

button {
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: #1d7fcf;
}
  
input:focus, textarea:focus {
    background-color: white;
    border: 1px solid #ccd6dd;
}

#emotion {
    font-weight: bold;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
}

#journal {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px; 
}

#image {
    max-width: 300px;
}

/*
.widthContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}

#journalTitle {
    text-align: center;
}

#refresh_journal {
    float: left;
}

#dailyJournalBox {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.dailyJournal {
    display: flex;
    background-color: beige;
}

#dailyPictureBox {
    position: relative;
}
*/